.conatiner_cntenido1{
    display: flex;
    justify-content: space-between;

    padding-left: 2%;
    background-color: beige;
    height: 800px;
    width: 1500px;

}
.color_white{
    background-color: white;
    height:  83vh;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;

}
